body {
  color: #222;
  background: #fff;
}

/* Header Bar */
body.dark-theme body {
  background-color: gray;
}

.btn-toggle {
  background-color: white;
  border: 1pt solid black;
}

body.dark-theme .btn-toggle {
  background-color: black;
  border: 1pt solid white;
  color: white;
}

.headerContainer {
  display: flex;
  border: 1px solid black;
  margin: 15px;
  padding: 10px;
  justify-content: space-between;
}
body.dark-theme .headerContainer {
  display: flex;
  border: 1px solid rgb(179, 110, 243);
  background-color: black;
  color: white;
  margin: 15px;
  padding: 10px;
  justify-content: space-between;
}
.formButton {
  height: 45px;
  width: 45px;
  border-radius: 30px;
  margin: 5px;
}

.editFormButton {
  height: 25px;
  width: 60px;
  border-radius: 15px;
  font-size: 8px;
  margin: 3px;
}

body.dark-theme .formButton {
  height: 45px;
  width: 45px;
  border-radius: 30px;
  margin: 5px;
  background-color: black;
}

.formInput {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

body.dark-theme .formInput {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: black;
}

.formInput input {
  margin-left: 5px;
}

/* Job Container */
.jobContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: 15px;
}

body.dark-theme .jobContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: 15px;
  border: 2px solid rgb(120, 110, 243);
}

/* Column Container */
.statusColumn {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  height: 91vh;
  padding: 5px;
}

body.dark-theme .statusColumn {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  background-color: black;
  color: white;
  height: 91vh;
  padding: 5px;
}

#status {
  border-bottom: 1px solid black;
  width: 100%;
  text-align: center;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
}

body.dark-theme #status {
  border-bottom: 1px solid white;
  width: 100%;
  text-align: center;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
}

/* Post Container */
.postContainer {
  padding: 15px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.postBox {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  padding: 5px;
  margin: 5px;
  width: 135px;
}

.postBox:hover {
  box-shadow: 0px 0px 20px grey;
}

.postButton {
  border: none;
  background: rgba(0, 0, 0, 0);
  font-size: 10px;
  font-weight: 600;
  align-self: flex-end;
  padding: 0px;
}

.postBox p {
  margin: 0px;
  font-size: x-small;
}
